* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 14px;
    background: #111111;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.7);
}

body::-webkit-scrollbar-thumb {
    background-color: #383838;
    border: 3.8px solid #111111;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    color: white;
}

html {
    background: #0b0b0b;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #fff;
    overflow-x: hidden;
    background: #111;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content.disabledScroll {
    overflow: hidden;
    opacity: 0.4;
}
body.disabledScroll {
    overflow: hidden;
    opacity:1;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    float: left;
    background: #111;
    border-bottom: 1.25px #0f0f0f solid;
    z-index: 1000;
    box-shadow: 0px 8px 650px 35px rgba(0, 0, 0, 1);
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: -100;
}

#loading-svg {
    position: absolute;
    top: 45%;
    left: 50%;
    height: 11rem;
    width: 11rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#loading-text {
    position: absolute;
    top: 55%;
    left: 50%;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Blanka', sans-serif;
    font-family: 'AlphaCentauri', sans-serif;
    transform: translate(-50%, -55%);
    -webkit-transform: translate(-50%, -55%);
    -moz-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    -o-transform: translate(-50%, -55%);
}

.logo {
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    top: 15px;
    left: 3.5%;
    /**color: #ff0029;
    **/
    font-weight: 800;
    font-size: 2px;
    width: 40px;
    height: 40px;
    opacity: 0;
    animation: fadeIn 0.6s linear forwards;
    animation-delay: .15s;
    -webkit-animation: fadeIn 0.6s linear forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
}

#svg {
    position: relative;
    top: -5%;
    left: 0.0625;
    height: 62px;
    width: 50px;
}

.full_logo {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.toggle {
    position: absolute;
    top: 0;
    right: 3.5%;
    text-align: center;
    color: #f5ffe8;
    z-index: 101;
    background: #ffffff00;
    padding: 10px;
    padding-left: 8px;
    border-radius: 2px;
    overflow: hidden;
    animation: menu_anim .4s linear forwards;
    opacity: 0;
    animation-delay: .25s;
    -webkit-tap-highlight-color: #ffffff00;
    -webkit-animation: menu_anim .4s linear forwards;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background: #222;
}

@keyframes menu_anim {
    0% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1.2);
        top: 27px;
        right: 3.5%;
        width: 35px;
        height: 35px;
        transform: scaleX(-1);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
}

.toggle:active {
    background: #444;
    opacity: 0.3;
    overflow: hidden;
    padding-left: 8px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.toggle span {
    position: relative;
    top: -2px;
    left: 0%;
    margin-bottom: 50px;
    transform: translate(-50%,-50%);
    display: block;
    text-align: center;
    font-size: 19px;
    line-height:0px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    user-select: none;
}.material-icons {
    font-family: 'Material Icons';
    font-size: 20px;}
.menu {
    position: fixed;
    left: -100%;
    width: 100%;
    border: 0px solid #000;
    height: 100%;
    top: 0;
    background: #000;
    opacity: 0;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.menu.active {
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(60px);
    position: fixed;
    border-bottom: 5px solid #ff0018;
    transition: 0.5s ease-in-out;
    top: 0;
    left: 0;
    opacity: .99;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.menuContents {
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 220px;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.menuContents a {
    text-decoration: none;
    display: block;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 25px;
    letter-spacing: 2.3px;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    /*1.695rem:;
    */
    text-align: center;
    width: auto;
    user-select: none;
    height: auto;
    text-transform: uppercase;
    transition: all .225s ease-in-out;
    /*text-shadow: 0 0 10px #616161, 0 0 20px #222;
    -webkit-text-fill-color: #ffffff00;
    -webkit-text-stroke-width: .7px;
    */
    -webkit-tap-highlight-color: #ffffff00;
    -webkit-transition: all .225s ease-in-out;
    -moz-transition: all .225s ease-in-out;
    -ms-transition: all .225s ease-in-out;
    -o-transition: all .225s ease-in-out;
}

.menuContents a:hover {
    color: #f5ffe8;
    font-weight: 900;
    transition: all 0.25s ease-in-out;
    font-size: 26px;
    letter-spacing: 3px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.social {
    position: absolute;
    z-index: 500;
    width: 163px;
    height: auto;
    bottom: 0;
    left: 51%;
    transform: translate(-50%, 0%);
    margin-bottom: 15px;
    text-align: bottom;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
}

.social a {
    text-decoration: none;
    display: inline-block;
    margin-right: 6px;
    font-size: 11px;
    padding: 9.2px;
    border-radius: 50%;
    border: .1px solid rgb(29, 29, 29);
    background: #101010;
    color: #7a7a7a;
    width: auto;
    user-select: none;
    height: auto;
    transition: all .325s ease-in-out;
    /*text-shadow: 0 0 10px #616161, 0 0 20px #222;
    -webkit-text-fill-color: #ffffff00;
    -webkit-text-stroke-width: .7px;
    */
    -webkit-tap-highlight-color: #ffffff00;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all .325s ease-in-out;
    -moz-transition: all .325s ease-in-out;
    -ms-transition: all .325s ease-in-out;
    -o-transition: all .325s ease-in-out;
}

.social a:hover {
    color: #ff0018;
    transition: all 0.5s ease-in-out;
    transform: scale(1.05);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

@media only screen and (min-width: 655px) {
    .menu {
        position: fixed;
        left: -100%;
        width: 250px;
        border: 0px solid #000;
        height: 100%;
        top: 0;
        background: #000;
        opacity: 1;
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
    }
    .menu.active {
        z-index: 1003;
        width: 250px;
        height: 100%;
        position: fixed;
        border-bottom: 5px solid #ff0018;
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
    }
    .menuContents {
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 220px;
        position: relative;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    .menuContents a {
        text-align: left;
        font-size: 20px;
        text-transform: capitalize;
        font-weight: 100;
        font-family: 'Rajdhani', sans-serif;
    }
    .menuContents a:hover {
        margin-left: 0px;
        font-weight: 300;
        font-size: 24px;
    }
    .menuContents a:hover::before {
        content: "";
        position: relative;
        left: 0;
        top: 0;
        margin-right: 10px;
        border: 2px solid #ff0018;
    }
    .social {
        bottom: 20px;
        left: 45%;
        margin: 0;
        width: 180px;
    }
}